<div class="c-post__footer-bar u-padding-vertical-small" default-ui-component="new-comment">

  <% if user_signed_in? %>
    <% if current_user.like?(post) %>
      <%= link_to  "", like_user_path(id: current_user.id, post_id: post.id), method: :delete, class: 'c-icon-main c-icon-main__heart_fill c-post__like-action' %>
    <% else %>
      <%= link_to  "", like_user_path(id: current_user.id, post_id: post.id), method: :post, class: 'c-icon-main c-icon-main__heart_open c-post__like-action' %>
    <% end %>
  <% end %>

  <%= form_for( post.comments.build, url: post_comments_path(post, user_id: current_user.id), html: { class: 'c-post__new-comment c-form c-form--primary'}) do |f| %>

    <%= f.text_field :content, placeholder: "#{t('app.comment_post')} ...", class: 'c-form__control c-form__control--bare' %>

    <%= f.submit t('app.submit'), class: 'c-btn c-btn--primary c-btn--small'     %>
  <% end %>

  <div class="c-icon-main c-icon-main__more-actions"></div>

</div>
