<%= form_for( user ) do |f| %>
  <%= render 'shared/error_messages', object: user %>

  <div class="field">
    <%= f.text_field :email, placeholder: '邮箱' %>
  </div>
  
  <div class="field">
    <%= f.text_field :name, placeholder: '账号' %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: '密码' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: '密码确认' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>