
<section class="o-wrapper">

  <section class="o-wrapper c-card c-card--primary u-margin-bottom-large">
    <h2 class="u-margin-small u-h6"><%= t('app.followers') %></h2>
    <% @user.followers.each do |user| %>

      <article class="o-media o-media-small u-padding-small">
        <header class="c-post__header">

          <a class="c-post__avatar c-link--silence u-margin-right-small" href=<%="/#{user.name}"%> >
            <%= gravatar_for(user, size: 30) %>
          </a>
          <a class="c-post__owner c-link--silence" href=<%="/#{user.name}" %> >
            <strong ><%= user.name %></strong>
          </a>

          <% if user_signed_in? && current_user.id != user.id %>
            <% if current_user.following?(user) %>
              <%= button_to  t('app.unfollow'), follow_users_path(followed_id: user), method: :delete, class: 'c-btn c-btn--small c-btn--secondary' %>
            <% else %>
              <%= button_to  t('app.follow'), follow_users_path(followed_id: user), method: :post, class: 'c-btn c-btn--small c-btn--primary' %>
            <% end %>
          <% end %>

        </header>

      </article>

    <% end %>
  </section>
</section>
