<section class="c-account-edit-card u-margin-bottom-large">
  <aside class="c-account-edit__tabs o-list-bare">
    <div clas="o-list-bare__item">
      <%= link_to t('app.user_profile.edit_profile'), new_account_edit_path, class: "c-link--silence c-account-edit_tab-item" %>
    </div>
    <div class="o-list-bare__item">
      <%= link_to t('app.user_profile.change_password'), new_account_password_change_path, class: "c-link--silence c-account-edit_tab-item c-account-edit_tab-item--actived" %>
    </div>
  </aside>

  <article class="c-account-edit">

  <div class="c-account-edit__avatar-edit">
    <%= gravatar_for(current_user, size: 38) %>
    <span class="u-h4"><%= current_user.name %></span>
  </div>

  <%= form_for(@user, url: account_password_change_path, method: :post, html: { class: 'c-form c-form--primary c-form--block o-wrapper c-account-edit-form' }) do |f| %>

    <div class="c-account-edit-form__field">
      <div class="c-account-edit-form__aside">
        <%= f.label t('app.user_profile.old_password') %>
      </div>
      <div class="c-account-edit-form__input">
        <%= f.password_field :current_password, class: 'c-form__control', placeholder: User.human_attribute_name(:current_password) %>
      </div>
    </div>

    <div class="c-account-edit-form__field">
      <div class="c-account-edit-form__aside">
        <%= f.label t('app.user_profile.new_password') %>
      </div>
      <div class="c-account-edit-form__input">
        <%= f.password_field :password, class: 'c-form__control', placeholder: User.human_attribute_name(:password) %>
      </div>
    </div>

    <div class="c-account-edit-form__field">
      <div class="c-account-edit-form__aside">
        <%= f.label t('app.user_profile.new_password_again') %>
      </div>
      <div class="c-account-edit-form__input">
        <%= f.password_field :password_confirmation, class: 'c-form__control', placeholder: User.human_attribute_name(:password_confirmation) %>
      </div>
    </div>

    <div class="c-account-edit-form__field">
      <div class="c-account-edit-form__aside"></div>
      <div><%= f.submit t('app.user_profile.change_password'), class: 'c-btn c-btn--small c-btn--primary' %></div>
    </div>

    <div class="c-account-edit-form__field">
      <div class="c-account-edit-form__aside"></div>
      <%= render 'shared/error_messages', object: @user %>
    </div>

  <% end %>

  </article>
</section>
