<article class='c-user-page u-padding-vertical-large u-padding-horizontal' data-ui-component="user-page">

  <header class='c-user-profile u-margin-right' data-ui-component="user-profile">

    <div class='c-user-profile__change-avatar u-margin-right'>
      <%= gravatar_for @user, size: 150, class_name: 'c-user-profile__avatar u-margin-horizontal-large' %>
    </div>

    <div class='c-user-profile__info'>

      <div class='c-user-profile__row'>
        <h1 class='c-user-profile__unit c-user-profile__username u-margin-right u-h2'><%= @user.name %></h1>
        <% if user_signed_in? && current_user.id != @user.id %>
          <% if current_user.following?(@user) %>
            <%= button_to '取消关注', follow_users_path(followed_id: @user), method: :delete, class: 'c-btn c-btn--small c-btn--secondary c-user-profile__unit', form_class: 'c-user-profile__unit'%>
          <% else %>
            <%= button_to  "关注用户", follow_users_path(followed_id: @user), class: 'c-btn c-btn--small c-btn--secondary c-user-profile__unit', form_class: 'c-user-profile__unit'%>
          <% end %>
        <% end %>
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to  "登出", sign_out_path, method: :delete,  class: 'c-btn c-btn--small c-btn--secondary c-user-profile__unit u-margin-right-small' %>
          <%= link_to  "编辑用户", account_edit_new_path, class: 'c-btn c-btn--small c-btn--secondary c-user-profile__unit' %>
        <% end %>
      </div>

      <ul class='c-user-profile__row'>

        <li class='o-list-inline__item c-user-profile__unit u-h6 u-margin-right-large'>已发帖 <%= @user.posts.count %></li>
        <a class="c-link c-link--silence" href=<%= user_followers_path(name: @user.name) %> >
          <li class='o-list-inline__item c-user-profile__unit u-h6 u-margin-right-large'><%= @user.followers.count %> 人关注</li>
        </a>
        <a class="c-link c-link--silence" href=<%= user_following_path(name: @user.name) %> >
          <li class='o-list-inline__item c-user-profile__unit u-h6 u-margin-right-large'>正在关注 <%= @user.following.count %></li>
        </a>

      </ul>

    </div>

  </header>

  <section>

    <main class="c-user-posts u-margin-vertical-large" id="posts-user">

      <%= render 'posts/grid_posts', posts: @posts %>

    </main>

    <div class="pagination u-align-center u-margin-bottom">
      <%= link_to_next_page(@posts, '更多', remote: true, class: 'c-btn c-btn--primary c-btn--small o-wrapper') %>
    </div>

  </section>

</article>
