<article class='c-user-page u-padding-vertical-large u-padding-horizontal' data-ui-component="user-page">

  <header class='c-user-profile u-margin-right' data-ui-component="user-profile">

    <div class='c-user-profile__change-avatar u-margin-right'>
      <%= gravatar_for @user, size: 150, class_name: 'c-user-profile__avatar u-margin-horizontal-large' %>
    </div>

    <div class='c-user-profile__info'>

      <div class='c-user-profile__row'>
        <h1 class='c-user-profile__unit c-user-profile__username u-margin-right u-h2'><%= @user.name %></h1>
        <% if user_signed_in? && current_user.id != @user.id %>
          <% if current_user.following?(@user) %>
            <%= button_to t('app.unfollow'), follow_users_path(followed_id: @user), method: :delete, class: 'c-btn c-btn--small c-btn--secondary c-user-profile__unit', form_class: 'c-user-profile__unit'%>
          <% else %>
            <%= button_to  t('app.follow'), follow_users_path(followed_id: @user), class: 'c-btn c-btn--small c-btn--secondary c-user-profile__unit', form_class: 'c-user-profile__unit'%>
          <% end %>
        <% end %>
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to  t('app.sign_out'), sign_out_path, method: :delete,  class: 'c-btn c-btn--small c-btn--secondary c-user-profile__unit u-margin-right-small' %>
          <%= link_to  t('app.user_profile.edit_profile'), account_edit_new_path, class: 'c-btn c-btn--small c-btn--secondary c-user-profile__unit' %>
        <% end %>
      </div>

      <ul class='c-user-profile__row'>

        <li class='o-list-inline__item c-user-profile__unit u-h6 u-margin-right-large'><%= t('app.user_profile.posts_desc', count: @user.posts.count) %></li>
        <a class="c-link c-link--silence" href=<%= user_followers_path(name: @user.name) %> >
          <li class='o-list-inline__item c-user-profile__unit u-h6 u-margin-right-large'><%= t('app.user_profile.followers_desc', count: @user.followers.count) %></li>
        </a>
        <a class="c-link c-link--silence" href=<%= user_following_path(name: @user.name) %> >
          <li class='o-list-inline__item c-user-profile__unit u-h6 u-margin-right-large'><%= t('app.user_profile.following_desc', count: @user.following.count) %></li>
        </a>

      </ul>

    </div>

  </header>

  <section>

    <main class="c-user-posts u-margin-vertical-large" id="posts-user">

      <%= render 'posts/grid_posts', posts: @posts %>

    </main>

    <% unless @posts.last_page? %>
      <div class="pagination u-align-center u-margin-bottom">
        <%= link_to_next_page(@posts, t('app.loadmore'), remote: true, class: 'c-btn c-btn--primary c-btn--small o-wrapper') %>
      </div>
    <% end %>

  </section>

</article>
