<section class="footer c-navbar c-navbar--glost o-wrapper u-margin-bottom-large" data-ui-component="site-footer">

  <div class="o-wrapper c-navbar__item u-padding-horizontal-large">
    <div class="o-list-inline c-navbar__item c-navbar__item--align-left">
      <a class="o-list-inline__item u-padding-right-tiny"><small><%= t('app.about_us').upcase %></small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small><%= t('app.support').upcase %></small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small><%= t('app.blog').upcase %></small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small><%= t('app.press').upcase %></small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small><%= t('app.api').upcase %></small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small><%= t('app.jobs').upcase %></small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small><%= t('app.privacy').upcase %></small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small><%= t('app.terms').upcase %></small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small><%= t('app.directory').upcase %></small></a>
      <a class="o-list-inline__item u-padding-right-tiny"><small><%= t('app.language').upcase %></small></a>
    </div>

    <div class="u-text-color-notice c-navbar__item--align-right">
      <strong>© 2017 INSTAGRAM</strong>
    </div>
  </div>

</section>
