<article class="u-margin-bottom-large c-post c-post--main" data-ui-component="post">

  <header class="c-post__header u-padding-horizontal u-padding-vertical-small">

    <a class="c-post__avatar c-link--silence u-margin-right-small" href=<%="/#{post.owner.name}"%> >
      <%= gravatar_for(post.owner, size: 30) %>
    </a>
    <a class="c-post__owner c-link--silence" href=<%="/#{post.owner.name}" %> >
      <strong ><%= post.owner.name %></strong>
    </a>

    <small class="c-post__posted-at"><%= time_ago_in_words(post.created_at) %></small>

  </header>

  <div class="c-post__body">
    <%= image_tag  post.picture.url, class_name: 'c-post__picture' %>
  </div>

  <div class="c-post__attr u-padding">
    <% if post.likes.any? %>
      <div class="o-media o-media--small">
        <div class="o-media__body">
        
          <% if post.likes.count < 10 %>
            <% s= post.likes.inject('') do |sum, like| %>
              <% separator = like == post.likes.last ? "" : ", " %>
              <% sum += "#{like.user.name}#{separator}" %>
            <% end %>
            <strong><%= s %> 赞了</strong>
          <% else %>
            <strong><%= post.likes.count %> 个赞</strong>
          <% end %>

        </div>
      </div>
    <% end %>
    <div class="o-media o-media--small">
      <div class="o-media__body">

        <a class="c-link--silence" href=<%= "/#{post.owner.name}" %> >
          <strong><%= post.owner.name %></strong>
        </a>
        <span><%= post.content %></span>

      </div>
    </div>
  </div>

  <footer class="u-padding-horizontal">

    <% if post.reload.comments.any? %>
    <ul class="a-comment-list u-margin-top" data-ui-component="comments-list">

      <%= render post.reload.comments, post: post %>

    </ul>
    <% end %>

    <%= render 'comments/new_comment', post: post %>

  </footer>

</article>