<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header" class="c-navbar">
      <section class="c-navbar__header">InstagramClone</section>
      <form class="c-navbar__nav">
        <input type="search">
      </form>
      <ul class="c-navbar__nav right o-list-inline">
        <li class="o-list-inline__item"><a href="#">Explore</a></li>
        <li class="o-list-inline__item"><a href="#">Activities</a></li>
        <% if user_signed_in? %>
          <li class="o-list-inline__item"> <%= link_to  "Sign_out", sign_out_path, method: :delete %>  </li>
        <% end %>
      </ul>
    </header>
    <div id="main">
      <div class="o-wrapper">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </div>
    <footer id="footer">
      <ul class="o-list-inline">
        <li class="o-list-inline__item">
          <a href="#">About</a>
        </li>
        <li class="o-list-inline__item">
          <a href="#">API</a>
        </li>
        <li class="o-list-inline__item">
          <a href="#">Jobs</a>
        </li>
        <li class="o-list-inline__item">
          <a href="#">Lauguages</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
