
<section class="o-wrapper u-margin-vertical-large">

  <article class="o-wrapper u-margin-bottom-small c-card c-card--primary c-signup-card u-align-center">
    
    <h1 class="o-wrapper u-margin-top u-margin-bottom-tiny c-icon-main c-icon-main__primary"></h1>

    <h6 class="u-text-color-dark-gray">注册 Instagram, 分享精彩视界</h6>

    <%= form_for(:user, url: sign_up_path, html: {class: 'c-form c-form--block c-form--primary u-padding-horizontal-large u-margin-bottom'}) do |f| %>

      <div class="c-form__field">
        <%= f.email_field :email, class: 'c-form__control', autofocus: true, placeholder: '邮箱' %>
      </div>
      <div class="c-form__field">
        <%= f.text_field :name, class: 'c-form__control', autofocus: true, placeholder: '全名' %>
      </div>
      <div class="c-form__field">
        <%= f.password_field :password, class: 'c-form__control', autofocus: true, placeholder: '密码' %>
      </div>
      <div class="c-form__field">
        <%= f.password_field :password_confirmation, class: 'c-form__control', autofocus: true, placeholder: '密码确认' %>        
      </div>

      <div class="c-form__field">
        <%= f.submit "注册", class: 'c-form__field c-btn c-btn--small c-btn--primary'%>
      </div>

      <%= render 'shared/error_messages', object: @user %>

      <div class="notice"><%= notice %></div>
      <div class="alert u-text-color-red"><%= alert %></div>

    <% end %>

    <div class="o-wrapper--small">
      <p class="o-wrapper u-padding-horizontal-large u-text-color-dark-gray">注册即表示你同意我们的 <a class="c-link c-link--notice"><strong>条款</strong></a> 和
        <a class="c-link c-link--notice"> <strong>隐私权限政策</strong></a>。</p>
    </div>
    
  </article>


  <div class="u-align-center o-wrapper c-card c-card--primary u-padding">
    <span>有账户了？<%= link_to  "请登录", sign_in_path, class: 'c-link c-link--primary'%></span>
  </div>

</section>